
h3 {
    text-transform: uppercase;
}


.form {
    margin: 0px;
    color: #888;

    > input {
        height: 35px;
        width: 90%;
        border: 0.2ch solid;
        border-color: rgb(161, 157, 157);
        font-size: 15px;
        margin-bottom: 15px;
    }

    > div {
        text-align: right;
        width: 90%;

       
        > button {
            display: inline-block;
            margin-top: 0px;
            color: black;
            font-weight: bold;
            font-size: 20px;
            padding: 0px;

            &:hover {
                color: rgb(143, 218, 31);

            }
        }
    }
    

    > fieldset {
        height: 35px; 
        border: 0ch;
        width: 100%;
    }
}

table {
    width: 90%;
    margin-left: 40px;
    > tr {
        height : 30px;
        td:first-child {
            font-weight: bold;
        }
        &:hover {
            background-color: rgb(179, 209, 134);
        }
    }
    
}

button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 20px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
    outline: none;
    padding:25px;
    
    &:hover {
        color: rgb(143, 218, 31);
    }   
}

.add-new-button-main {
    width: max-content;
    font-size: 20px;
    padding: 0px;
    &:hover {
        color: rgb(143, 218, 31);
    }
}


ul {

    padding-left: 0px;
    button {
        font-size: 15px;
    }
    
}

li {

    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    * {
        float: left;
    }
    input[type="checkbox"] {
        margin: 0 10px;
        position: relative;
        top: 15px;
    }

    > label {
        font-size: 18px;
        line-height: 40px;
        width: 180px;
        padding: 0 0 0 11px;
    }

    > button {
        height: 40px;
        margin: inherit;
        padding: unset;
        
        &:hover {
            color: rgb(39, 111, 160);

        }
    }
}

li, h3 {
    clear:both;
    list-style:none;
  }


  /* Completed */
#complete-list label {
    text-decoration: line-through;
    color: #888;
  }