body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
}

nav {
    background-color: black;
    height: 40px;
    margin-bottom: 10px;
    div {
        height: inherit;
        position: relative;
    }
    h1 {
        color: white;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.main-container {
    display: block;
    width: 400px;
    border-radius: 20px;
    border: solid black;
    margin: auto;
    padding: 10px 10px 50px 50px;
}

.addnew-container {
    margin-top: 20px;
}